p {
  color: #4c4c4c; }

h1 {
  color: #4c4c4c; }

ul li a {
  color: #4c4c4c; }

.container--footer {
  background-color: #4c4c4c; }

.principal {
  background-color: yellow; }

h1 {
  font-size: 60px;
  text-align: center;
  font-weight: 300; }

h2, h2 a {
  font-size: 60px;
  text-align: left;
  font-weight: 300; }

p {
  font-size: 22px; }

.secundario {
  width: 100%; }

.secundario__informacion {
  width: 1040px; }

@media only screen and (max-width: 1024px) {
  .secundario__informacion {
    width: 820px; } }

.contenedor--informacion {
  display: grid; }

.principal {
  display: flex; }

.formularioDeContacto {
  display: grid;
  justify-content: space-around; }

#grid--aplicando {
  display: grid; }

body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  margin: 0px; }

/*comienzan estilos del menu*/
header {
  background-color: white;
  box-shadow: 1px 10px 28px -7px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 1px 10px 28px -7px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 1px 10px 28px -7px rgba(0, 0, 0, 0.35);
  padding-left: 15px;
  padding-right: 15px; }

nav ul {
  list-style: none;
  padding: 0;
  display: flex; }

.container--nav {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .container--nav h2 a {
    text-decoration: none;
    color: #4c4c4c; }

nav li {
  margin-left: 2em; }

nav a {
  text-decoration: none; }

nav a:hover,
nav a:focus {
  font-weight: 900; }

#btn-menu {
  display: none; }

header label {
  display: none; }

header label:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3);
  height: 24px; }

/*finalizan estilos del menu*/
.contenedor--informacion {
  display: grid;
  grid-template-rows: 200px 200px;
  grid-template-columns: 100%;
  grid-column-gap: 10px;
  padding-left: 30px;
  text-align: center; }
  .contenedor--informacion .contenedor__titulo {
    color: white; }
  .contenedor--informacion .contenedor__articulo h1 {
    color: white; }
  .contenedor--informacion .contenedor__parrafo {
    color: white; }

.box--trabajos {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 25% 25% 25% 25%;
  grid-column-gap: 10px;
  padding-left: 30px; }
  .box--trabajos img {
    width: 400px; }
  .box--trabajos .box__texto, .box--trabajos .box__texto2, .box--trabajos .box__texto3, .box--trabajos .box__texto4, .box--trabajos .box__texto5, .box--trabajos .box__texto6 {
    color: #4c4c4c;
    font-weight: 600; }
  .box--trabajos p {
    font-weight: 300; }

.box__articulo2 {
  grid-column-start: 2; }

.box__articulo2, .box__articulo, .box__articulo3, .box__articulo4, .box__articulo5, .box__articulo6 {
  overflow: hidden; }

.container--footer {
  padding: 30px;
  bottom: 0px; }
  .container--footer ul li {
    display: inline;
    text-decoration: none; }

.principal {
  height: 400px;
  align-items: center; }

/*.secundario__parrafo{
	border:1px solid $amarillo;
}

.secundario__parrafo--extended{
	@extend .secundario__parrafo;
	border-width:3px ;
}*/
/*sobre mi y contacto*/
.box--secundario {
  background: #f4f4f4;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 50%;
  grid-column-gap: 10px;
  padding-left: 30px;
  overflow: hidden; }
  .box--secundario img {
    width: 600px; }
  .box--secundario .box__texto, .box--secundario .box__texto2 {
    color: #4c4c4c;
    font-weight: 600; }
  .box--secundario .secundario__titulo {
    text-align: left;
    font-weight: 900; }
  .box--secundario a {
    text-decoration: none; }
  .box--secundario h1 {
    text-align: left; }

.box--secundario1 {
  background: #fff;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 50%;
  grid-column-gap: 10px;
  padding-left: 30px;
  padding-top: 100px;
  padding-bottom: 100px;
  overflow: hidden; }
  .box--secundario1 img {
    width: 600px; }
  .box--secundario1 .box__texto, .box--secundario1 .box__texto2 {
    color: #4c4c4c;
    font-weight: 600; }
  .box--secundario1 .secundario__titulo {
    text-align: left;
    font-weight: 900; }
  .box--secundario1 ul li {
    list-style: none;
    padding: 5px; }

/*seccion Trabajos*/
.contenedor--Trabajos {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 50%;
  grid-column-gap: 10px;
  background-image: url(../img/15.jpg);
  background-position: bottom right;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  padding: 50px 100px; }
  .contenedor--Trabajos h1 {
    text-align: left;
    font-weight: 900; }

#contenedor__video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; }

/*contacto*/
.formularioDeContacto {
  background: #f4f4f4;
  padding: 50px 0px 150px 0px; }
  .formularioDeContacto h1 {
    font-weight: 600; }
  .formularioDeContacto p, .formularioDeContacto span {
    font-weight: 300; }
  .formularioDeContacto input, .formularioDeContacto select, .formularioDeContacto textarea {
    border-radius: 5px;
    border: 1px solid #26597e; }

.formularioDeContacto input:nth-child(1), .formularioDeContacto input:nth-child(3) {
  width: 250px;
  margin: 5px 0px; }

form input:nth-last-child(2), form input:nth-last-child(1) {
  background-color: #26597e;
  color: #fff;
  height: 30px;
  margin-right: 15px; }

/*clientes*/
.contenedor--Trabajos1 {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 50%;
  grid-column-gap: 10px;
  background-image: url(../img/foto.jpg);
  background-position: bottom right;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  padding: 50px 100px; }
  .contenedor--Trabajos1 h1 {
    text-align: left;
    font-weight: 900; }

#grid--aplicando {
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding: 100px 10px; }
  #grid--aplicando article {
    justify-self: center; }
  #grid--aplicando img {
    width: 500px; }
  #grid--aplicando img:hover {
    transform: scale(1.1); }

/* responsive*/
@media (max-width: 768px) {
  .box--trabajos {
    grid-template-rows: 1fr 1fr !important;
    grid-template-columns: 50%;
    padding-left: 5px; }
  nav li {
    margin-left: 0.5em; }
  h2 {
    font-size: 50px; }
  .box--secundario {
    grid-template-rows: auto;
    grid-template-columns: 50%; }
  h1 {
    font-size: 40px; }
  p {
    font-size: 16px; }
  .contenedor--Trabajos1 {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 100%;
    grid-column-gap: 10px;
    background-image: url(../img/foto.jpg);
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    padding: 50px 40px; }
  #grid--aplicando {
    grid-template-columns: 100%; }
  .container--nav {
    flex-direction: column;
    align-items: flex-start; }
  header label {
    display: block; }
  nav {
    margin-left: -170%;
    display: none;
    width: 100%;
    grid-gap: 20px; }
    nav ul {
      flex-direction: column !important;
      align-items: center;
      grid-gap: 20px; }
  #btn-menu:checked ~ nav {
    margin: 0;
    display: inline; } }

@media (max-width: 640px) {
  .container {
    text-align: center; }
  .container--nav {
    flex-direction: column; }
  nav ul {
    flex-direction: column; }
  nav li {
    margin: 0.8em 0; } }

@media (max-width: 425px) {
  .box--trabajos {
    grid-template-rows: 1fr 1fr !important;
    grid-template-columns: 100% !important;
    padding-left: 10px; }
  .box__articulo {
    grid-column-start: 1 !important; }
  .box__articulo2 {
    grid-column-start: 1 !important;
    grid-row-start: 1 !important; }
  h1 {
    font-size: 40px; }
  .box--secundario {
    grid-template-rows: 250px 400px !important;
    grid-template-columns: 100% !important; }
  .box--secundario img {
    width: 350px; }
  #grid--aplicando {
    grid-row-start: 1 !important; } }
