$ubicacion:flex;
$contendor: row;
$contenedoris: grid;


.menu{
	display:$ubicacion;
	flex-direction: $contendor;
    justify-content: flex-end;
    align-items: baseline;

}

.contenedor--informacion{
	display: $contenedoris;
}

.principal{
	display:$ubicacion;
}



