$gris:#4c4c4c;
$amarillo: yellow;
$negro: black;

p{color:$gris;}

h1{color:$gris;}

ul li a{
	color:$gris;
}



.container--footer{
	background-color:$gris;
}

.principal{
	background-color: $amarillo;
}

