@import "colores";
@import "tamanos";
@import "caracteristicas";


body{
	font-family: 'Roboto', sans-serif;
  width: 100%;
  margin: 0px;
}
	/*comienzan estilos del menu*/	

header{
	background-color: white;
	box-shadow: 1px 10px 28px -7px rgba(0,0,0,0.35);
	-webkit-box-shadow: 1px 10px 28px -7px rgba(0,0,0,0.35);
	-moz-box-shadow: 1px 10px 28px -7px rgba(0,0,0,0.35);
	padding-left: $padding - 15px;
	padding-right: $padding - 15px;
}

nav ul {
	list-style: none;
	padding: 0;
	display: flex;
}


.container--nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2 a{
    text-decoration: none;
    color: $gris;
  }
}


nav{
  li {
  margin-left: 2em;
  }
  a {
  text-decoration: none;
  }
  a:hover,
  a:focus {
  font-weight: 900;
  }
}

 

#btn-menu{
  display: none;
}

header{

  label{
    display: none;
  }
  label:hover{
  cursor: pointer;
  background: rgba(0,0,0,0.3);
  height: 24px;
  }
}

 


/*finalizan estilos del menu*/

.contenedor--informacion{
	display:$contenedoris;
	grid-template-rows: 200px 200px;
    grid-template-columns: 100%;
    grid-column-gap: 10px;
    padding-left:$padding;
    text-align: center;
   

    .contenedor__titulo{
    	color: white;
    }
    .contenedor__articulo{
		h1{
		color: white;
		}
	}
	.contenedor__parrafo{
		color: white;
	}
   
}

.box--trabajos{
	display:$contenedoris;
	grid-template-rows: auto auto;
    grid-template-columns: 25% 25% 25% 25%;
    grid-column-gap: 10px;
    padding-left:$padding;

    img{
    	width:$imagenes;
    }
    .box__texto, .box__texto2, .box__texto3, .box__texto4, .box__texto5, .box__texto6{
     color: $gris;
     font-weight: 600;	
    }
    p{
      font-weight: 300;
    }
}


.box__articulo2{
	    grid-column-start: 2;
}

.box__articulo2, .box__articulo, .box__articulo3, .box__articulo4, .box__articulo5, .box__articulo6{
  overflow: hidden;
}


.container--footer{
  
	padding:$padding;
  bottom: 0px;
	ul li{
	display:inline;
	text-decoration:none;
	}
}

.principal{
	height:$alto;
	align-items: center;
}

/*.secundario__parrafo{
	border:1px solid $amarillo;
}

.secundario__parrafo--extended{
	@extend .secundario__parrafo;
	border-width:3px ;
}*/




/*sobre mi y contacto*/

.box--secundario{
	background: #f4f4f4;
	display:$contenedoris;
	grid-template-rows: auto;
    grid-template-columns: 50%;
    grid-column-gap: 10px;
    padding-left:$padding;
    overflow: hidden;

    img{
    	width:$personas;
    }
    .box__texto, .box__texto2{
     color: $gris;
     font-weight: 600;	
    }
    .secundario__titulo{
    	text-align: left;
    	font-weight: 900;
    }
    a{
    	text-decoration: none;
    }
    h1{
      text-align: left;
    }
}
.box--secundario1{
  background: #fff;
  display:$contenedoris;
  grid-template-rows: auto auto;
    grid-template-columns: 50%;
    grid-column-gap: 10px;
    padding-left:$padding;
    padding-top: $padding + 70px;
    padding-bottom: $padding + 70px;
    overflow: hidden;

    img{
      width:$personas;
    }
    .box__texto, .box__texto2{
     color: $gris;
     font-weight: 600;  
    }
    .secundario__titulo{
      text-align: left;
      font-weight: 900;
    }
    ul li{
      list-style: none;
      padding: 5px;
    }
}

/*seccion Trabajos*/
.contenedor--Trabajos{
    display:$contenedoris;
    grid-template-rows: auto auto;
    grid-template-columns: 50%;
    grid-column-gap: 10px;
   	background-image: url(../img/15.jpg);
	  background-position: bottom right;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    padding: 50px 100px;
    h1{
    	text-align: left;
    	font-weight: 900;
    }
}
#contenedor__video {
  
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

/*contacto*/
.formularioDeContacto{
	background: #f4f4f4;
  padding: 50px 0px 150px 0px;
	h1{
		font-weight: 600;
	}
  p, span{
    font-weight: 300;
  }
  input, select, textarea{
    border-radius: 5px;
    border: 1px solid #26597e;
  }
}

.formularioDeContacto input:nth-child(1),.formularioDeContacto input:nth-child(3){
  width: 250px;
  margin: 5px 0px;
}
form input:nth-last-child(2), form input:nth-last-child(1){
  background-color: #26597e;
  color: #fff;
  height: 30px;
  margin-right: 15px;
}

/*clientes*/
.contenedor--Trabajos1{
    display:$contenedoris;
    grid-template-rows: auto auto;
    grid-template-columns: 50%;
    grid-column-gap: 10px;
    background-image: url(../img/foto.jpg);
    background-position: bottom right;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    padding: 50px 100px;
    h1{
      text-align: left;
      font-weight: 900;
    }
}

#grid--aplicando{
	grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 100px 10px;
    article{
    	justify-self: center;
    }
    img{
    	width: 500px;
    }
    img:hover {
    transform: scale(1.1);
	}
}












/* responsive*/
@media (max-width: 768px){
  .box--trabajos{
    grid-template-rows: 1fr 1fr !important;
    grid-template-columns: 50%;
    padding-left: 5px;
  }
  nav li {
    margin-left: 0.5em;
  }
  h2 {
    font-size: 50px;
  }
  .box--secundario{
    grid-template-rows: auto;
    grid-template-columns: 50%;
  }
  h1{
    font-size: 40px;
  }
  p{
    font-size: 16px;
  }
  .contenedor--Trabajos1 {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 100%;
    grid-column-gap: 10px;
    background-image: url(../img/foto.jpg);
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    padding: 50px 40px;
  }
  #grid--aplicando {
    grid-template-columns: 100%;
  }

  .container--nav{
    flex-direction: column;
    align-items: flex-start;
  }

  header label{
    display: block;
  }



  nav{
    margin-left: -170%;
    display: none;
    width: 100%;
    grid-gap: 20px;
      ul{
      flex-direction: column!important;
      align-items: center;
      grid-gap: 20px;
    }
  }

  #btn-menu:checked ~ nav{
    margin:0;
    display: inline;
  }


}

@media (max-width: 640px) {
  .container {
    text-align: center;
  }

  .container--nav {
    flex-direction: column;
  }

  nav ul {
    flex-direction: column;
  }

  nav li {
    margin: 0.8em 0;
  }
}

@media (max-width: 425px){
	 .box--trabajos{
	 	grid-template-rows: 1fr 1fr !important;
	 	grid-template-columns: 100%!important;
    padding-left: 10px;
	 }
	 .box__articulo{
	 	grid-column-start: 1!important;
	 }
	 .box__articulo2{
	 	grid-column-start: 1!important;
	 	grid-row-start: 1!important;
	 }
	 h1{
	 	font-size: 40px;
	 }

	 .box--secundario{
	 	grid-template-rows: 250px 400px !important;
	 	grid-template-columns: 100%!important;
	 }

	 .box--secundario img {
    	width: 350px;
	}
	#grid--aplicando{
		grid-row-start: 1!important;
	}

}

